*{
    margin: 0%;
    padding: 0%;
}
body{
  height: 100vh;
}
.bg{  
    background: url('feedback-illu.svg');     
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* border: 2px solid red; */
    height: 50vh;
    width: 50vw;
    position: relative;
    top: 14vh;
    left:12vw;
}
.but {
    position: relative;
    left: 14%;
    background: white;
    border-radius: 5px;
    height: 37vh;
    width: 20vw;
    text-align: center;
    /* border: 2px solid black; */
    }
  a{
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    height: 4vh;
    width: 16vw;
    background: greenyellow;

  }
