@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Mono', monospace;
}
nav{
    background-color: #d8cd78;
    text-align: center;
}
img{
    width: 15%;
    margin: 10px;  
}
nav p{
    width: 60vw;
    margin-left: 20%;
}



/* Media query for mobile devices*/

 @media only screen and (max-width:500px){
   nav{
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    }

    nav img{
        width: 30%;
        margin:20px;
    }
}
